body 
{
    background-color: rgb(104, 213, 202);
    color: navy;
}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera
{
    border: 2px dashed navy;
    width: 350px;
    height: 300px;
}
.name_of_objects
{
    color: rgb(188, 147, 0);
}
#result_object_name, #result_object_accuracy
{
    color: rgb(188, 147, 0);
}